<script setup>
import { useRouter } from 'vue-router';
import Question from '../components/Question.vue';

const router = useRouter()

// Push ResultScreen when all questions have been answered
const handleGameDone = () => {
        router.push("/result-screen")
    }

</script>

<template>
    <h1>This is the question screen</h1>
    <Question @onGameDone='handleGameDone'/>
</template>