<script setup>
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
import ResultAnswers from '../components/ResultAnswers.vue'

const store = useStore()
const router = useRouter()

    // Handles button clicks. On the result screen users can choose to go back to start and define a new game
    // or play again with the same settings, but a new set of questions
    const endGame = async (action) => {
        // Resets store variables relating to game state
        store.commit("resetGame")
        if (action == 'startScreen') {
            router.push("/")
        }

    } 

</script>

<template>
    <h1>This is the Result Screen!</h1>

    <!-- Displays score and a list of items, each containing question asked, correct answer and the users answer -->
    <ResultAnswers />
    <div>
        <button @click="endGame('startScreen')"
                type="button"
                class="bg-sky-700 text-white p-3 rounded">Back to start</button>
    </div>
        <div>
        <button @click="endGame('replay')"
                type="button"
                class="bg-sky-700 text-white p-3 rounded">Replay on same settings</button>
    </div>
</template>