<script setup>
import { ref } from "vue";
import { useStore } from "vuex";

const store = useStore();
const emit = defineEmits(["onGetQuestions"]);

const username = ref("");
const options = ref({
  amount: 1,
  difficulty: "easy",
  category: 0,
});

const checkUsername = async () => {
  const error = await store.dispatch("apiUserNewOrExist", {
    username,
    options,
  });
  console.log("checkusername", username.value);
  if (error !== null) {
    console.log(error);
  } else {
    getQuestions();
  }
};

const getQuestions = async () => {
  const error = await store.dispatch("apiGetQuestions");
  if (error !== null) {
    console.log(error);
  } else {
    emit("onGetQuestions");
  }
};
</script>

<template>
  <form @submit.prevent="onSubmit" class="mb-3">
    <fieldset class="mb-3">
      <label for="username" aria-label="Username" class="block">Username</label>
      <input
        type="text"
        id="username"
        class="border border-slate-300"
        v-model="username"
      />
      <label for="amount" aria-label="Amount" class="block"
        >Amount of questions</label
      >
      <input
        type="number"
        id="amount"
        name="amount"
        min="1"
        max="25"
        class="border border-slate-300"
        v-model="options.amount"
      />
      <label for="difficulty" aria-label="Difficulty" class="block"
        >Difficulty</label
      >
      <select
        id="difficulty"
        name="difficulty"
        class="border border-slate-300"
        v-model="options.difficulty"
      >
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
      <label for="category" aria-label="Category" class="block">Category</label>
      <select
        id="category"
        name="category"
        class="border border-slate-300"
        v-model="options.category"
      >
        <option value="0">Any</option>
        <option value="9">General Knowledge</option>
        <option value="10">Entertainment: Books</option>
        <option value="11">Entertainment: Film</option>
        <option value="12">Entertainment: Music</option>
        <option value="13">Entertainment: Musicals &amp; Theatres</option>
        <option value="14">Entertainment: Television</option>
        <option value="15">Entertainment: Video Games</option>
        <option value="16">Entertainment: Board Games</option>
        <option value="17">Science &amp; Nature</option>
        <option value="18">Science: Computers</option>
        <option value="19">Science: Mathematics</option>
        <option value="20">Mythology</option>
        <option value="21">Sports</option>
        <option value="22">Geography</option>
        <option value="23">History</option>
        <option value="24">Politics</option>
        <option value="25">Art</option>
        <option value="26">Celebrities</option>
        <option value="27">Animals</option>
        <option value="28">Vehicles</option>
        <option value="29">Entertainment: Comics</option>
        <option value="30">Science: Gadgets</option>
        <option value="31">Entertainment: Japanese Anime &amp; Manga</option>
        <option value="32">Entertainment: Cartoon &amp; Animations</option>
      </select>
    </fieldset>
    <button
      @click="checkUsername()"
      type="button"
      class="bg-sky-700 text-white p-3 rounded"
    >
      Register
    </button>
  </form>
</template>
