<script setup>
import { onBeforeMount } from "@vue/runtime-core";
import { useStore } from "vuex";

    const store = useStore()

    // Gets the store to calculate the score and update its value in state
    onBeforeMount(() => {
        store.commit("setScore")
    })

</script>

<template>
    <div>
        <!-- <p>{{store.getters.getResult}}</p> -->
    </div>

    <h1>{{store.getters.getScore}}</h1>
    <!-- Should have a key, but not sure what to use. Works so far -->

    <!-- Loops over items containing question asked, the correct answer and the users chosen answer -->
    <div v-for="item in store.getters.getResult">
        <h1>Question</h1>
        <p>{{item.question}}</p>
        <h1>Correct answer:</h1>
        <p>{{item.correct}}</p>
        <h1>Your answer:</h1>
        <p>{{item.picked}}</p>

    </div>


    <!-- <h1 v-for="item in store.getters.getResult">{{item}}</h1> -->

</template>